.gap {
  --gap: 0px;

  gap: var(--gap);

  &--1 {
    --gap: 4px;
  }

  &--2 {
    --gap: 8px;
  }

  &--3 {
    --gap: 12px;
  }

  &--4 {
    --gap: 16px;
  }

  &--5 {
    --gap: 20px;
  }

  &--6 {
    --gap: 24px;
  }

  &--7 {
    --gap: 28px;
  }

  &--8 {
    --gap: 32px;
  }

  &--9 {
    --gap: 36px;
  }

  &--10 {
    --gap: 40px;
  }

  &--11 {
    --gap: 44px;
  }

  &--12 {
    --gap: 48px;
  }
}

.flex-columns {
  --basis: 100%;
  width: 100%;
  flex-wrap: wrap;

  > * {
    flex-basis: var(--basis);
    flex-grow: 1;
    flex-shrink: 1;
  }

  &.gap > * {
    flex-basis: calc(var(--basis) - var(--gap))
  }

  &--1 {
    --basis: 100%;
  }
  &--2 {
    --basis: 50%;
  }
  &--3 {
    --basis: 33.3%;
  }
  &--4 {
    --basis: 25%;
  }
  &--5 {
    --basis: 20%;
  }
  &--6 {
    --basis: 16.6%;
  }
  &--7 {
    --basis: 14.28%;
  }
  &--8 {
    --basis: 12.5%;
  }
  &--9 {
    --basis: 11.11%;
  }
  &--10 {
    --basis: 10%;
  }
  &--11 {
    --basis: 9.09%;
  }
  &--12 {
    --basis: 8.33%;
  }
}